/* Custom Styles */
body {
  font-family: "Inter", sans-serif;
}

/* Fonts */

/* inter-300 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/inter-v3-latin-300.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/inter-v3-latin-300.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/inter-v3-latin-300.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/inter-v3-latin-300.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/inter-v3-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("/fonts/inter-v3-latin-300.svg#Inter")
      format("svg"); /* Legacy iOS */
}
/* inter-500 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/inter-v3-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/inter-v3-latin-500.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/inter-v3-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/inter-v3-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/inter-v3-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("/fonts/inter-v3-latin-500.svg#Inter")
      format("svg"); /* Legacy iOS */
}
/* inter-700 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/inter-v3-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/inter-v3-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/inter-v3-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/inter-v3-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/inter-v3-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("/fonts/inter-v3-latin-700.svg#Inter")
      format("svg"); /* Legacy iOS */
}

.definition-inner {
    visibility: hidden;
    width: fit-content;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.definition-outer {
    visibility: hidden;
    width: min(400px, 100vw);
    z-index: 1;
    position: absolute;
    /* margin-left: -min(200px, 50vw); */
    /* left: 50%; */
    /* bottom: 100%; */
    top: -999px;
    left: -999px;
    display: flex;
    justify-content: center;
}

.term {
    border-bottom: 1px dotted #9ca3af;
}

.term:hover .definition-inner {
    visibility: visible;
    opacity: 1;
}

#clickme {
  background-color: rgba(0, 0, 0, 0.65);
  position: absolute;
  opacity: 0;
  z-index: 1;

  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  animation: clickme 1.25s ease-in 0s;
  animation-play-state: paused;
}

@keyframes clickme {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}