<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="icon" href="{{ if (isset .Site.Params "favicon") }}{{ .Site.Params.favicon }}{{ else }}/favicon.ico{{ end }}">

  <script>
    fetch("/definitions.json")
      .then(response => {
        return response.json();
      })
      .then(definitions => {
        if (document.readySate == "loading") {
          document.addEventListener("DOMContentLoaded", () => create_all_tooltips(definitions));
        } else {
          create_all_tooltips(definitions);
        }
      });

    function create_all_tooltips(definitions) {
      let terms = document.getElementsByClassName("term");
      for (t of terms) {
        const term = t.getAttribute("data-term");
        create_tooltip(t, term, definitions[term]);
      }
      position_all_tooltips();
      window.addEventListener("resize", position_all_tooltips);
    }

    function create_tooltip(term_elem, term, defn) {
      const tooltip_id = `tooltip-${term.replace(" ", "-")}`;

      let outer = document.createElement("span");
      outer.setAttribute("class", "definition-outer");
      outer.setAttribute("role", "tooltip");
      outer.setAttribute("id", tooltip_id);

      let inner = document.createElement("span");
      inner.setAttribute("class", "definition-inner text-sm");
      inner.setAttribute("id", tooltip_id);
      inner.innerHTML = defn;

      outer.appendChild(inner);
      term_elem.appendChild(outer);

      term_elem.setAttribute("aria-describedby", tooltip_id);
      term_elem.addEventListener("mouseover", (ev) => position_tooltip(ev.target));
    }

    function position_all_tooltips() {

      let terms = document.getElementsByClassName("term");
      for (t of terms) {
        position_tooltip(t);
      }
    }

    function position_tooltip(term_elem) {
      let tooltip = term_elem.firstElementChild;
      if (tooltip) {
        // this event will never fail on a term element, but it will also fire on definition-outer/inner elements and clog up the error console
        const obj_rect = term_elem.getBoundingClientRect();
        const tooltip_rect = tooltip.getBoundingClientRect();

        let goalX = obj_rect.left + obj_rect.width/2 - tooltip_rect.width/2;
        let goalY = obj_rect.top - tooltip_rect.height;
        const vw = Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0);

        goalX = Math.min(vw - tooltip_rect.width, Math.max(goalX, 0));
        if (goalY < 0)
          goalY = obj_rect.bottom;

        tooltip.style.top = (goalY + window.pageYOffset) + "px";
        tooltip.style.left = (goalX + window.pageXOffset) + "px";
      }
    }
  </script>

  <title>
    {{ block "title" . }} {{- if .IsHome -}} Home -{{- else -}} {{- .Title }} -{{- end }} {{ .Site.Title -}} {{ end }}
  </title>
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}" />
  {{- if .Keywords }}
  <meta name="keywords" content="{{ delimit .Keywords "," }}" />
  {{ end -}}
  {{- if .Params.Author }}
  <meta name="author" content="{{ .Params.Author}}" />
  {{ end -}}

  {{ hugo.Generator }}

  {{- $styles := resources.Get "css/styles.css" | postCSS (dict "config" "./assets/css/postcss.config.js") -}}
  {{- if .Site.IsServer }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
  {{ else }}
  {{- $styles := $styles| minify | fingerprint | resources.PostProcess -}}
  <link
    rel="stylesheet"
    href="{{ $styles.Permalink }}"
    integrity="{{ $styles.Data.Integrity }}"
  />
  {{ end -}}

  <!-- Katex support -->
  {{ if .Params.math }}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css"
      integrity="sha384-D+9gmBxUQogRLqvARvNLmA9hS2x//eK1FhVb9PiU86gmcrBrJAQT8okdJ4LMp2uv"
      crossorigin="anonymous"
    >

    <script defer
      src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"
      integrity="sha384-483A6DwYfKeDa0Q52fJmxFXkcPCFfnXMoXblOkJ4JcA8zATN6Tm78UNL72AKk+0O"
      crossorigin="anonymous"
    ></script>

    <script defer
      src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/contrib/auto-render.min.js"
      integrity="sha384-yACMu8JWxKzSp/C1YV86pzGiQ/l1YUfE8oPuahJQxzehAjEt2GiQuy/BIvl9KyeF"
      crossorigin="anonymous"
      onload="renderMathInElement(document.body);"
    ></script>

  {{ end }}

  {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

  {{ partial "opengraph.html" . }}
  {{ partial "twitter_cards.html" . }}
  {{ template "_internal/schema.html" . }}
</head>
